<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="{{description}}">
        <meta name="keywords" content="{{keywords}}">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{title}}</title>
        {{#each css}}
            <link rel="stylesheet" href="{{.}}">
        {{/each}}
    </head>
    <body>
        {{{body}}}

        {{#each js}}
            <script src="{{.}}"></script>
        {{/each}}
    </body>
</html>